.counterCard{
    background-color: rgb(49, 48, 48);
    margin: 10px;
    padding: 10px;
    height: 380px;
    width: 350px;
    border-radius: 10px;
}

.counterDisplay{
    font-size: 55pt;
    background-color: rgb(66, 66, 66);
    color: white;
    border-radius: 8px;
    margin-bottom: 8px;
}

.counterBtn{
    border-radius: 25px;
    margin:5px;
    padding: 20px;
}